@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: oklch(0.9306 0.2184 124.08);
    --color-gray-10: oklch(0.2134 0 0);
    --color-gray-11: oklch(0.2264 0 0);
    --color-gray-15: oklch(0.2686 0 0);
    --color-gray-30: oklch(0.4169 0.0016 286.33);
    --color-gray-70: oklch(0.7668 0 0);
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Lexend', sans-serif;
        background-color: var(--color-gray-10);
        font-size: var(--text-lg);
        color: var(--color-white);
        overflow-x: clip;
    }
}

@layer components {
    .btn {
        display: inline-flex;
        border-radius: calc(infinity * 1px);
        padding: 14px 30px;
        cursor: pointer;
    }

    .btn-primary {
        background-color: var(--color-primary);
        color: var(--color-gray-11);
    }

    .btn-secondary {
        background-color: var(--color-gray-11);
        border: 1px solid var(--color-gray-15);
    }
}